In [89]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib.patches import Patch
from matplotlib.markers import MarkerStyle
import seaborn as sns

from glob import glob
from functools import reduce
import re

In [90]:
def format_data(path):
    f = open(path, "r")
    content = f.readlines()
    f.close()
    content_dict = {}
    content_dict["Title"] = content[0][7:-1]
    content_dict["Tags"] = content[5][6:-1]
    content_dict["Summary"] = content[6][9:-1]
    content_dict["Content"] = reduce(lambda x,y: x+y, content[8:])   

    return content_dict

In [91]:
def format_summary(path):
    f = open(path, "r")
    content = f.readlines()
    f.close()
    res = [x.rstrip("\n") for x in content]
    res = [x for x in res if len(x)>0]
    return res

In [92]:
cluster_text_path = sorted(glob("./data/ViMs/original/*/*"))
print(len(cluster_text_path))

300

In [93]:
print(len(glob("./data/ViMs/original/*/*/*")))

1945

In [94]:
data_text = []
for cluster in cluster_text_path:
    cluster_data = {}
    cluster_data["Article"] = [format_data(x) for x in glob(cluster+"/*")]
    data_text.append(cluster_data)

In [95]:
cluster_summary_path = sorted(glob("./data/ViMs/summary/*"))
print(len(cluster_summary_path))

300

In [96]:
data_summary = []
for cluster in cluster_summary_path:
    cluster_data_train = [format_summary(x) for x in glob(cluster+"/*")]
    data_summary.append(cluster_data_train)

In [97]:
for i in range(300):
    data_text[i]["Abstractive"] = data_summary[i]

In [98]:
data_text[0].keys()

dict_keys(['Article', 'Abstractive'])

In [99]:
review_data = pd.DataFrame(data_text)

In [100]:
review_data

,Article,Abstractive
0,[{'Title': 'Danh tính một số nạn nhân mất tích...,[[Máy bay mang số hiệu MS804 của EgyptAir gặp ...
1,[{'Title': 'Bà Hillary tuyên bố thắng cuộc đua...,[[Trong bài phỏng vấn với đài CNN của Mỹ hôm 1...
2,[{'Title': 'Nhà lãnh đạo Đài Loan Thái Anh Văn...,"[[Bà Thái Anh Văn, 59 tuổi, Chủ tịch đảng Dân ..."
3,[{'Title': 'Cần chặn dòng người ồ ạt di cư vào...,"[[""Đất nước phải lo cho đầu tàu này chạy để ké..."
4,[{'Title': 'Hội Nghề cá đề nghị đẩy nhanh việc...,[[Hội nghề cá Việt Nam vừa có công văn đề nghị...
...,...,...
295,[{'Title': 'Giám đốc Sở Xây dựng Hải Phòng bổ ...,"[[Ngày 2/6, UBND TP Hải Phòng cho biết, đã yêu..."
296,[{'Title': 'Bắt khẩn cấp đối tượng hiếp dâm cư...,"[[Chiều nay (3/6), tin từ Công an tỉnh Hà Nam ..."
297,[{'Title': 'Tại sân bay Domodedovo chiếc máy...,[[Sự cố xảy ra khi chiếc máy bay Airbus 319 củ...
298,"[{'Title': 'Hỏng đường băng, Cảng hàng không B...","[[Có mặt tại Cảng hàng không Buôn Ma Thuột, PV..."
299,[{'Title': 'Đã khắc phục xong sự cố hỏng đường...,"[[Trước đó, vào lúc 5 giờ 52 phút cùng ngày, t..."

In [101]:
data_text[0]["Article"][0].keys()

dict_keys(['Title', 'Tags', 'Summary', 'Content'])

In [102]:
data_text[0]["Article"][0]

{'Title': 'Danh tính một số nạn nhân mất tích cùng máy bay MS804 của Ai Cập',
 'Tags': 'máy bay, chính phủ, thiệt mạng, Associated Press, nỗ lực, nguồn tin, Pháp, chuyến bay',
 'Summary': 'Vụ biến mất bí ẩn của chuyến bay MS804 trên đường từ Paris tới Cairo hôm qua (19-5) được cho là vụ tai nạn máy mới nhất trong số một loạt vụ việc nghiêm trọng xảy ra thời gian gần đây. Hiện các nhà điều tra đang nỗ lực làm rõ những gì đã xảy ra với chiếc máy bay Airbus A320 của Hãng hàng không Ai Cập.',
 'Content': 'Pascal Hess, người Pháp là một trong số 66 người, trong đó có 15 công dân Pháp, được cho là đã chết khi chuyến bay MS804 của Hãng hàng không Ai Cập biến mất trên đường đến Cairo hôm 19-5.\nBạn bè của Hess cho biết, ông ấy gần như không thể đáp được chuyến bay MS804 của EgyptAir vì bị mất hộ chiếu.\n“Hess, một người mê bóng chuyền và là nhiếp ảnh gia đến từ Evreux ở Normandy đã không ngủ 3 ngày vì ông vô cùng lo lắng khi hộ chiếu của mình bị mất mà chưa được tìm thấy. Cho đến khi có một người nhìn thấy nó trên đường phố, và đem trả cho Hess, khi đó Hess lại lưỡng lự không muốn đi nữa. Ông ấy rời Paris để đi nghỉ 10 ngày trên Biển Đỏ của Ai Cập một cách miễn cưỡng", một người bạn của Hess nói với tờ báo Pháp ngữ địa phương, La Depeche.\nÔng Ahmed Helal, Giám đốc Công ty Procter và Gamble ở thành phố Amien, Pháp, và một gia đình người Pháp gồm 2 trẻ nhỏ, một người ông 74 tuổi tên là Pierre Heslouin đến từ Nogent-sur-Marne cũng được cho là thiệt mạng trong vụ máy bay mất tích bí ẩn này.\nTheo The Telegraph, một người Anh có tên là Richard Osman, 40 tuổi, cũng được cho là không còn sống. Ông vừa mới trở thành người cha lần thứ hai với người vợ Pháp Aurelie. Con gái ông là Olympe mới khoảng một tháng tuổi.\nTheo CNN, một người cha của bốn đứa con, Joao David e Silva, là một trong những người được biết đã có mặt trên chuyến bay đó.\nSilva đang làm việc cho công ty xây dựng Mota-Engil ở Bồ Đào Nha. Ông ấy được bố trí ở Johannesburg vì công việc của mình mặc dù gia đình ông vẫn sống ở Lisbon, nguồn tin chính phủ Bồ Đào Nha cho biết.\nAP đưa tin rằng, một học sinh đến từ Chad đang học tại một trường học ở Pháp, cũng là một trong số các hành khách được cho là đã thiệt mạng.\nMột người khác tên là Abdulmohsen al-Muteiri, người Kuwait, một giáo sư kinh tế, đang trên đường đi dự một hội nghị. Ông cũng đã từng giữ những vị trí cấp cao trong chính phủ Kuwait.\nMột hành khách khác là một người Ai Cập đang trên đường trở về nhà, sau khi trải qua một đợt điều trị bệnh tại Pháp, theo AP.\nEgyptAir vẫn chưa công bố tên của những người rất có thể đã chết trên chuyến bay đã được nhìn thấy lần cuối trên Địa Trung Hải.\nChuyến bay của EgyptAir mang số hiệu MS804 xuất phát lúc 23h09 đêm 18-5 từ Paris đến Hy Lạp. Thời gian hạ cánh dự kiến vào lúc 3h15 sáng ngày hôm sau, tuy nhiên nó đã biến mất khỏi màn hình rada theo dõi vào khoảng 30 phút trước giờ đó.\nTheo BBC, một cuộc điều tra quy mô lớn đang được tiến hành sau khi chiếc A320 của hãng hàng không Ai Cập biến mất cùng 69 người trên khoang vào sáng sớm hôm 19-5.\n'}

In [103]:
data_text[0]["Abstractive"][0][0]

'Máy bay mang số hiệu MS804 của EgyptAir gặp nạn sáng nay 19/5 khi đang trên đường từ Paris đến Cairo của Ai Cập, mang theo 66 người trong đó chủ yếu là công dân Ai Cập.'

In [104]:
article = glob("./data/ViMs/original/*/*/*")
data = [format_data(x) for x in article]

In [105]:
len(article)

1945

In [106]:
len(data_text[0]["Article"])

10

In [107]:
data_text[0]["Article"][0]

{'Title': 'Danh tính một số nạn nhân mất tích cùng máy bay MS804 của Ai Cập',
 'Tags': 'máy bay, chính phủ, thiệt mạng, Associated Press, nỗ lực, nguồn tin, Pháp, chuyến bay',
 'Summary': 'Vụ biến mất bí ẩn của chuyến bay MS804 trên đường từ Paris tới Cairo hôm qua (19-5) được cho là vụ tai nạn máy mới nhất trong số một loạt vụ việc nghiêm trọng xảy ra thời gian gần đây. Hiện các nhà điều tra đang nỗ lực làm rõ những gì đã xảy ra với chiếc máy bay Airbus A320 của Hãng hàng không Ai Cập.',
 'Content': 'Pascal Hess, người Pháp là một trong số 66 người, trong đó có 15 công dân Pháp, được cho là đã chết khi chuyến bay MS804 của Hãng hàng không Ai Cập biến mất trên đường đến Cairo hôm 19-5.\nBạn bè của Hess cho biết, ông ấy gần như không thể đáp được chuyến bay MS804 của EgyptAir vì bị mất hộ chiếu.\n“Hess, một người mê bóng chuyền và là nhiếp ảnh gia đến từ Evreux ở Normandy đã không ngủ 3 ngày vì ông vô cùng lo lắng khi hộ chiếu của mình bị mất mà chưa được tìm thấy. Cho đến khi có một người nhìn thấy nó trên đường phố, và đem trả cho Hess, khi đó Hess lại lưỡng lự không muốn đi nữa. Ông ấy rời Paris để đi nghỉ 10 ngày trên Biển Đỏ của Ai Cập một cách miễn cưỡng", một người bạn của Hess nói với tờ báo Pháp ngữ địa phương, La Depeche.\nÔng Ahmed Helal, Giám đốc Công ty Procter và Gamble ở thành phố Amien, Pháp, và một gia đình người Pháp gồm 2 trẻ nhỏ, một người ông 74 tuổi tên là Pierre Heslouin đến từ Nogent-sur-Marne cũng được cho là thiệt mạng trong vụ máy bay mất tích bí ẩn này.\nTheo The Telegraph, một người Anh có tên là Richard Osman, 40 tuổi, cũng được cho là không còn sống. Ông vừa mới trở thành người cha lần thứ hai với người vợ Pháp Aurelie. Con gái ông là Olympe mới khoảng một tháng tuổi.\nTheo CNN, một người cha của bốn đứa con, Joao David e Silva, là một trong những người được biết đã có mặt trên chuyến bay đó.\nSilva đang làm việc cho công ty xây dựng Mota-Engil ở Bồ Đào Nha. Ông ấy được bố trí ở Johannesburg vì công việc của mình mặc dù gia đình ông vẫn sống ở Lisbon, nguồn tin chính phủ Bồ Đào Nha cho biết.\nAP đưa tin rằng, một học sinh đến từ Chad đang học tại một trường học ở Pháp, cũng là một trong số các hành khách được cho là đã thiệt mạng.\nMột người khác tên là Abdulmohsen al-Muteiri, người Kuwait, một giáo sư kinh tế, đang trên đường đi dự một hội nghị. Ông cũng đã từng giữ những vị trí cấp cao trong chính phủ Kuwait.\nMột hành khách khác là một người Ai Cập đang trên đường trở về nhà, sau khi trải qua một đợt điều trị bệnh tại Pháp, theo AP.\nEgyptAir vẫn chưa công bố tên của những người rất có thể đã chết trên chuyến bay đã được nhìn thấy lần cuối trên Địa Trung Hải.\nChuyến bay của EgyptAir mang số hiệu MS804 xuất phát lúc 23h09 đêm 18-5 từ Paris đến Hy Lạp. Thời gian hạ cánh dự kiến vào lúc 3h15 sáng ngày hôm sau, tuy nhiên nó đã biến mất khỏi màn hình rada theo dõi vào khoảng 30 phút trước giờ đó.\nTheo BBC, một cuộc điều tra quy mô lớn đang được tiến hành sau khi chiếc A320 của hãng hàng không Ai Cập biến mất cùng 69 người trên khoang vào sáng sớm hôm 19-5.\n'}

In [108]:
data_text[0]["Abstractive"]

[['Máy bay mang số hiệu MS804 của EgyptAir gặp nạn sáng nay 19/5 khi đang trên đường từ Paris đến Cairo của Ai Cập, mang theo 66 người trong đó chủ yếu là công dân Ai Cập.',
  'Máy bay MS804 mất liên lạc với mặt đất khi cách bờ biển phía bắc Ai Cập khoảng 280 km và không phát tín hiệu cầu cứu.',
  'Theo Bộ trưởng Quốc phòng Hy Lạp Panos Kammenos, máy bay đã "quay 90 độ sang trái và 360 độ sang phải, hạ độ cao từ 37.000 feet xuống 15.000 feet và mất tín hiệu ở độ cao 10.000 feet" (khoảng 11 km).',
  'Phó Chủ tịch EgyptAir, ông Ahmed Adel, không loại trừ khả năng máy bay bị đặt bom hoặc bị đe dọa từ bên trong.',
  'Họ nghi ngờ một quả bom khiến máy bay nổ tung, sau đó rơi xuống biển.',
  'Trên chiếc máy bay có 66 người bao gồm 7 thành viên phi hành đoàn, 3 nhân viên bảo vệ, 30 công dân Ai Cập, 17 công dân Pháp cũng như các công dân của Iraq, Arab Saudi và các nước khác.',
  'Hiện giờ, các chuyên gia quốc tế và địa phương hầu hết đều nghiêng về giả thiết máy bay bị tấn công khủng bố.',
  'Theo một báo cáo của Trung tâm Phòng chống Khủng bố (TCS, Mỹ), các nhóm khủng bố đến từ Yemen, Syria và Đông Phi đã và đang sáng tạo ra cách thức tuồn bom lên máy bay bằng cách qua mặt hệ thống kiểm tra an ninh.',
  'Cũng có ý kiến cho rằng nhóm khủng bố Nhà nước Hồi giáo (IS) có liên quan đến thảm kịch này.'],
 ['Chiếc Airbus A320 (chuyến bay số hiệu MS804) bay từ thủ đô Paris đến thủ đô Cairo thì biến mất khỏi màn hình radar vào sáng sớm ngày 19.5.',
  'Các chuyên gia hàng không lo ngại một hành động cố ý đã khiến máy bay biến mất khỏi màn hình radar.',
  'Bộ trưởng Hàng không Ai Cập Sherif Fathy nghiêng về khả năng MS804 bị khủng bố nhiều hơn là trục trặc kỹ thuật.',
  'Họ nghi ngờ một quả bom khiến máy bay nổ tung, sau đó rơi xuống biển.',
  'Tổng thư ký Tổ chức Hiệp ước Bắc Đại Tây Dương Jens Stoltenberg cho biết sẽ hỗ trợ công tác tìm kiếm máy bay MS 804.',
  'một cuộc điều tra quy mô lớn đang được tiến hành sau khi chiếc A320 biến mất.',
  'Theo các nguồn tin, hải mảnh nhựa vỡ được tìm thấy có màu trắng và đỏ.',
  'Những mảnh vỡ  được phát hiện ở gần khu vực nơi hệ thống định vị khẩn cấp trên máy bay đã phát tín hiệu trước đó.',
  '66 người được cho là đã chết khi chuyến bay MS804 biến mất.',
  'Ezeddin Samar là nữ tiếp viên có mặt trên chuyến bay MS804.',
  'Ngay sau sự cố, có người phát hiện ra cô từng đăng ảnh bên cạnh một máy bay bị chìm.']]

In [109]:
view_data = pd.DataFrame(data)

In [110]:
view_data

,Title,Tags,Summary,Content
0,"Vướng dây điện khi đi xe đạp, bé trai chết thảm","điện giật tử vong, bé trai tử vong, cháu bé tử...","Sau khi kết thúc năm học, cháu bé được bố mẹ đ...","Ngày 1/6, trao đổi với PV Dân trí, lãnh đạo xã..."
1,"Bé trai 11 tuổi bị điện giật chết, chủ nhà hàn...","điện giật chết, điện giật tử vong, tai nạn thư...",Chủ nhà hàng Ba Cơ nhận trách nhiệm về vụ việc...,"Chiều 1.6, ông Nguyễn Thanh Bình, Chủ tịch UBN..."
2,"Bị điện giật chơi ở công viên, cháu bé 11 tuổi...","điện giật, công viên, nhà hàng, Quảng Nam","Trong lúc đạp xe chơi ở công viên, em Nguyễn T...","Tin nhanh ngày 1/6, ông Đỗ Ngọc Vĩnh (Phó Công..."
3,Vụ bé trai bị điện giật tử vong: Chủ nhà hàng ...,"công an, điều tra, làm rõ, nạn nhân, đường dây...",Liên quan tới vụ bé trai tử vong do vướng dây ...,"Đến sáng 1/6, gia đình em Nguyễn Thành Công (S..."
4,Bé trai tử vong do vướng dây điện nhà hàng,"điện giật, nhà hàng, TP Tam Kỳ","Ngày 1-6, ông Nguyễn Thanh Bình - chủ tịch UBN...","Trước đó, em Nguyễn Thành Công (trú tại TP.HCM..."
...,...,...,...,...
1940,"Adele, The Weekend thắng lớn tại lễ trao giải ...","âm nhạc, giải thưởng, billboard, Adele, The we...",Dù vắng mặt tại sự kiện âm nhạc hàng đầu thế g...,Adele là nữ nghệ sĩ nhận được tám đề cử tại lễ...
1941,Adele và The Weeknd thâu tóm hết danh hiệu qua...,"Adele, The Weeknd, Justin Bielber, Taylor Swif...","Rạng sáng nay (23/5) theo giờ Việt Nam, lễ tra...",Đêm trao giải đã khiến NHM thỏa mãn lòng mong ...
1942,Adele gây bất ngờ khi ẵm trọn giải thưởng lớn ...,"adele, Taylor Swift","Album ""25"" thực sự là bom tấn khi giúp ""họa mi...",Lễ trao giải Billboard Music Awards lần thứ 24...
1943,Adele thắng đậm giải thưởng Billboard 2016,,Adele (ảnh) đã chiến thắng giải thưởng quan tr...,Không xuất hiện trên sân khấu để nhận giải vì ...
1944,"The Weeknd, Adele thắng đậm tại Billboard Musi...","Adele, The Weeknd, Madona, Prince, Britney Spe...",Nam ca sĩ The Hills và nữ ca sĩ Hello vừa rinh...,"Theo Billboard, The Weeknd giành chiến thắng v..."

In [111]:
view_data.describe()

,Title,Tags,Summary,Content
count,1945,1945,1945,1945
unique,1937,1701,1891,1944
top,Kiểm tra chỉ tiêu an toàn muối ăn tại một số đ...,,,Brandon Cipes – phó chủ tịch hệ thống thông ti...
freq,2,241,45,2

In [125]:
# Sentence Count — Total number of sentences in the text
sentence_count = view_data["Content"].apply(lambda x: len(x.replace("\n", "").split("."))-1)
print("sentence_count: ", sentence_count.sum())

sentence_count:  29595

In [126]:
# Word Count — Total number of words in the text
word_count = view_data["Content"].apply(lambda x: len(re.findall(r"[\w']+", x)))
print("word_count: ", word_count.sum())

word_count:  794412

In [132]:
# Character Count — Total number of characters in the text excluding spaces
character_count = view_data["Content"].apply(lambda x: len(x.replace(" ", "")))
print("character_count: ", character_count.sum())

character_count:  2819789

In [ ]:
# Stopwords Count — Total number of common stopwords in the text

In [143]:
df = pd.DataFrame()
df["Sentence_count"]=sentence_count
df["Word_count"]=word_count
df["Character_count"]=character_count
df["Sentence_density"]=df["Word_count"]/df["Sentence_count"]
df

      Sentence_count  Word_count  Character_count  Sentence_density
0                  9         241              851         26.777778
1                 16         225              793         14.062500
2                 12         267              935         22.250000
3                 17         399             1382         23.470588
4                 13         310             1061         23.846154
...              ...         ...              ...               ...
1940              16         373             1467         23.312500
1941               6         375             1425         62.500000
1942              10         661             2677         66.100000
1943               8         246              968         30.750000
1944               9         408             1672         45.333333

[1945 rows x 4 columns]

In [139]:
df.describe()

       Sentence_count   Word_count  Character_count  Sentence_density
count     1945.000000  1945.000000      1945.000000       1945.000000
mean        15.215938   408.438046      1449.762982         28.195207
std         10.266794   264.196656       938.222392          9.016166
min          1.000000    49.000000       173.000000          5.573529
25%          9.000000   235.000000       837.000000         22.125000
50%         13.000000   335.000000      1196.000000         26.434783
75%         18.000000   490.000000      1741.000000         32.666667
max        179.000000  3095.000000     10944.000000         81.000000

In [117]:
# Word Density — Average length of the words used in the headline
# Punctuation Count — Total number of punctuations used in the headline